* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1171px;
    margin: 0 auto;
}

/* ----Nav Section---- */
nav {
    padding-top: 50px;
}

nav ul li {
    display: inline-block;
    margin-right: 45.5px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #838383;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

nav ul li a:hover {
    color: #8671FC;
    font-size: 700;
}

nav .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

/* ----Banner Section---- */
#banner {
    padding: 76px 0 36px 0;
}

#banner .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}


#banner .info h4 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #222;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 2px;
}

#banner .info h4 strong {
    color: #F05D7B;
}

#banner .info .title {
    max-width: 471px;
    color: #222;
    font-family: "Raleway", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px;
    margin: 20px 0 30px 0;
}

#banner .info .description {
    max-width: 471px;
    color: #838383;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

#banner .btn {
    margin-top: 81px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
}

#banner .btn a:first-child {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    background: #8671FC;
    padding: 21px 49px;
}

#banner .btn a:last-child {
    color: #8671FC;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-left: 35px;
    display: flex;
    gap: 25px;
    align-items: center;
}